.App {
  /* text-align: center; */
  background-image: linear-gradient(rgb(90, 134, 199), rgb(36, 66, 163));
}

body, html {
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(90, 134, 199), rgb(38, 69, 173));
  /* background-color: #206cc9; */
}
.test {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

